.container {
  width: 500px;
  height: 100%;
  background: #fff;
  padding: 40px 60px;
  border-radius: 20px;
}

:global(.error-message) {
  color: #bf1650;
  font-size: 14px;
}

:global(.error-message::before) {
  display: inline;
  content: "⚠ ";
}