.loginContainer {
  background: url('https://img.alicdn.com/imgextra/i4/O1CN018U3Ial208HifXE1xY_!!6000000006804-0-tps-2000-1334.jpg');
  background-size: cover;
  height: 100vh;
  padding: 100px 150px;
}